


<div *ngIf="(book$ | async) as book">
  <div class="row mt-5">
    <div class="col-md-6">
      <img [src]="book.imagUrl" class="img-fluid" alt="image">
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>{{book.title}}</h4>
          <div class="card-body">
            <div class="card-title">Written by {{book.authorName}}</div>
            <div class="card-text">{{book?.category?.name}}</div>
            <div class="card-text">It costs {{book.price}}$</div>
            <div class="card-text">Published by - {{book.publisher}}</div>
            <div class="card-text">Pbblished in - {{book.yearPublished}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-4">
  <button class="btn btn-primary mr-3" (click)="addToCart()">AddToCart</button>
  <button class="btn btn-success mr-3" (click)="goCartView()">ViewCart</button>
  <button class="btn btn-info" (click)="goHome()">ContinueShopping</button>
</div>




