







<nav class="navbar navbar-expand-lg navbar-dark bg-danger text-light">
  <a class="navbar-brand" routerLink="/books">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'first'"
        routerLinkActive="active">First Component <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/second"
        routerLinkActive="active">Second Component</a>
      </li>
    </ul>
  </div>
</nav>

<div>
  <div class="row my-3">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <div> <i class="fas fa-cart-plus fa-2x mr-2"></i>  <h3 class="badge badge-primary">{{(cartService.cart$ | async)?.length}}</h3></div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>

